{% extends "nav.html" %}
{% block title %}This is an example page{% endblock %}


{% block content %}

<div class="container">
  
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Our Users</div>
  <div class="panel-body">
    <p>This is a list of all of the users in our system!</p>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>name</th>
      <th>email</th>
      <th>interest</th>
    </tr>
     {% for user in users %}
     <tr>
       <td>{{ user.name }}</td>
       <td>{{ user.email }}</td>
       <td>{{ user.interest }}</td>
     </tr>
     {% endfor %}
  </table>
</div>
</div>

{% endblock %}
