{% extends "nav.html" %}
{% block title %}This is an example page{% endblock %}


{% block content %}

<div class="container">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">SquareSpace Transactions</div>
  <div class="panel-body">
    <p>This is a list of transactions recorded from squarespce</p>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>name</th>
      <th>email</th>
      <th>interest</th>
    </tr>
     {% for user in users %}
     <tr>
       <td>{{ user.name }}</td>
       <td>{{ user.email }}</td>
       <td>{{ user.interest }}</td>
     </tr>
     {% endfor %}
  </table>
</div>
</div>

{% endblock %}
